<launch>

 <master auto="start"/> 

 <!-- Run the map server --> 
 <node name="map_server" pkg="map_server" type="map_server" args="/home/brlab/mypro/Turtlebot-PJ/turtlebot_ws/map/brlab2.yaml"/> 
 
 <!--- Run AMCL -->    
 <include file="$(find amcl)/examples/amcl_diff.launch" />
 
 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   <rosparam file="$(find mypkg)/param/move_base_params.yaml" command="load" />
   <rosparam file="$(find mypkg)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
   <rosparam file="$(find mypkg)/param/costmap_common_params.yaml" command="load" ns="local_costmap" /> 
   <rosparam file="$(find mypkg)/param/local_costmap_params.yaml" command="load" />
   <rosparam file="$(find mypkg)/param/global_costmap_params.yaml" command="load" /> 
   <rosparam file="$(find mypkg)/param/base_local_planner_params.yaml" command="load" />
 </node>
 
 <!-- cmd_velのリマップ -->
  <node pkg="topic_tools" type="relay" name="cmd_vel_relay" args="/cmd_vel /cmd_vel_mux/input/teleop" />

</launch>
